.object
{
	margin-top: 64px;
	margin-bottom: 96px;
}
.object__search .search{margin-bottom: 24px;}
.object__list
{
	display: grid;
	grid-template-columns: 100%;
	gap: 16px ;
}
.object__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
.object__header .g-select{display: none;}
@media (min-width: $tablet)
{
	.object__list
	{
		gap:24px;
		grid-template-columns: repeat(2, minmax(344px, 1fr));
	}
	.object__search .search,
	.object__header{ margin-bottom: 32px; }
}
@media (min-width: $desktop)
{
	.object{margin-top: 96px;}
	.object__search .search{margin-bottom: 48px;}
	.object__list{grid-template-columns: repeat(3, minmax(296px, 1fr));}
	.object__header .g-select{display: block;}

}
@media (min-width: $widescreen)
{
	.object{margin-top: 48px;}
	.object__search .search{margin-bottom: 64px;}
	.object__list
	{
		gap:48px 31px;
		margin-bottom: 124px;
	}
}