.object
{
	margin-top: 63px;
	margin-bottom: 96px;
}
.object__title{margin: 0;}
.object__search .search{margin-bottom: 24px;}
.object__list
{
	display: grid;
	grid-template-columns: 100%;
	gap: 16px ;
}
.object__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
.object__header .g-select{display: none;}
@media (min-width: $tablet)
{
	.object__list
	{
		gap: 24px;
		grid-template-columns: repeat(2, minmax(344px, 1fr));
	}
	.object__search .search,
	.object__header{ margin-bottom: 32px; }
}
@media (min-width: $desktop)
{
	.object{margin-top: 94px;}
	.object__search .search{margin-bottom: 48px;}
	.object__list
	{
		grid-template-columns: repeat(3, minmax(296px, 1fr));
		gap: 48px 24px;
	}
	.object__header .g-select
	{
		display: block;
		.g-select__list
		{
			left: unset;
			right: 0;
			min-width: 180px;
			border:1px solid #DCDCE6;
		}
		.g-select__item
		{
			border-bottom:1px solid #DCDCE6;
			&:last-child{border: none;}
		}
	}

}
@media (min-width: $widescreen)
{
	.object{margin-top: 46px;}
	.object__search .search{margin-bottom: 64px;}
	.object__list
	{
		gap: 51px 31px;
		margin-bottom: 124px;
	}
}