/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

/* blocks */
@import 'blocks/g-button/g-button';
@import 'blocks/g-input/g-input';
@import 'blocks/g-object-card/g-object-card';
@import 'blocks/g-cards-list/g-cards-list';
@import 'blocks/g-card/g-card';
@import 'blocks/g-spoiler/g-spoiler';
@import 'blocks/g-popup/g-popup';
@import 'blocks/g-form/g-form';
@import 'blocks/g-select/g-select';
@import 'blocks/g-table/g-table';
@import 'blocks/g-list/g-list';
@import 'blocks/search/search';
@import 'blocks/header/header';
@import 'blocks/footer/footer';
@import 'blocks/title/title';
@import 'blocks/managed-objects/managed-objects';
@import 'blocks/enter-banner/enter-banner';
@import 'blocks/news/news';
@import 'blocks/answers/answers';
@import 'blocks/login-popup/login-popup';
@import 'blocks/feedback-popup/feedback-popup';
@import 'blocks/g-page-select/g-page-select';
@import 'blocks/bread-crumb/bread-crumb';
@import 'blocks/services-title/services-title';
@import 'blocks/banners/banners';
@import 'blocks/opportunities/opportunities';
/* Пример подключения*/
/* @import 'blocks/component/component'; */
/* pages */
@import 'pages/object/object';
@import 'pages/object-detail/object-detail';
@import 'pages/technical-specifications/technical-specifications';
@import 'pages/management-person/management-person';
@import 'pages/services-persons/services-persons';
@import 'pages/news/news.scss';
@import 'pages/about-us/about-us.scss';
@import 'pages/docs/docs.scss';
@import 'pages/docs-detail/docs-detail.scss';
@import 'pages/files/files.scss';
@import 'pages/contacts/contacts.scss';
@import 'pages/services/services.scss';



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
.about-us-layout main,
.information-layout main,
.news-layout main
{
	display: grid;
	margin-bottom: 96px;
	margin-top: 32px;
}
.information-layout .g-table{margin-bottom: 32px;}
.information-layout .g-table__title:not(:first-child) .g-table__item{padding-top: 32px;}

.about-us-layout .header,
.information-layout .header,
.news-layout .header
{
	background: white;
	position: relative;
	z-index: 11;
}

.about-us-layout__page-select--desktop,
.information-layout__page-select--desktop,
.news-layout__page-select--desktop{display: none;}
body
{
	min-height: 100vh;
	min-width: 375px;
}
@media(min-width: $tablet)
{
	.about-us-layout main,
	.information-layout main,
	.news-layout main{margin-top: 64px;}
}
@media(min-width: $desktop)
{
	.news-layout .bread-crumb{margin-bottom: 18px;}
	.about-us-layout main,
	.information-layout main,
	.news-layout main
	{
		grid-template-columns: 216px minmax(616px, 1fr);
		gap: 106px;
		margin-top: 96px;
		margin-bottom: 166px;
	}
	.information-layout main .container{padding-left: 0;}
	.news-layout main .container{padding-left: 0;}
	.about-us-layout__page-select--desktop,
	.information-layout__page-select--desktop,
	.news-layout__page-select--desktop{display: block;}
	.about-us-layout__page-select--mobile,
	.information-layout__page-select--mobile,
	.news-layout__page-select--mobile{display: none;}
	.news-layout main{margin-bottom: 296px;}
}
@media(min-width: $widescreen)
{
	.about-us-layout main,
	.information-layout main,
	.news-layout main
	{
		grid-template-columns: 301px 640px;
		gap: 163px;
		margin-top: 64px;
	}
	.about-us-layout main{ gap: 180px;}
}
