/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

/* blocks */
@import 'blocks/g-button/g-button';
@import 'blocks/g-input/g-input';
@import 'blocks/g-object-card/g-object-card';
@import 'blocks/g-cards-list/g-cards-list';
@import 'blocks/g-news-card/g-news-card';
@import 'blocks/g-spoiler/g-spoiler';
@import 'blocks/g-popup/g-popup';
@import 'blocks/g-form/g-form';
@import 'blocks/g-select/g-select';
@import 'blocks/search/search';
@import 'blocks/header/header';
@import 'blocks/footer/footer';
@import 'blocks/title/title';
@import 'blocks/managed-objects/managed-objects';
@import 'blocks/enter-banner/enter-banner';
@import 'blocks/news/news';
@import 'blocks/answers/answers';
@import 'blocks/login-popup/login-popup';
@import 'blocks/feedback-popup/feedback-popup';
@import 'blocks/page-select/page-select';
@import 'blocks/bread-crumb/bread-crumb';
/* Пример подключения*/
/* @import 'blocks/component/component'; */
/* pages */
@import 'pages/object/object';


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
.information-layout main
{
	display: grid;
	margin-bottom: 128px;
	margin-top: 32px;
}
.information-layout .header
{
	background: white;
	position: relative;
	z-index: 11;
}
.information-layout__page-select--desktop{display: none;}
@media(min-width: $tablet)
{
	.information-layout main{margin-top: 64px;}
}
@media(min-width: $desktop)
{
	.information-layout main
	{
		grid-template-columns: 216px minmax(640px, 1fr);
		gap: 106px;
		margin-top: 96px;
	}
	.information-layout main .container{padding-left: 0;}
	.information-layout__page-select--desktop{display: block;}
	.information-layout__page-select--mobile{display: none;}
}
@media(min-width: $widescreen)
{
	.information-layout main
	{
		grid-template-columns: 301px 640px;
		gap: 163px;
		margin-top: 64px;
	}
}
