.news{margin-bottom: 48px;}

@media (min-width: $tablet)
{
	.news{margin-bottom: 64px;}
}
@media (min-width: $desktop)
{
	.news{margin-bottom: 96px;}
}
@media (min-width: $widescreen)
{
	.news{margin-bottom: 128px;}
}