<section class="news g-cards-list">
	<div class="g-cards-list__header">
		<h4>Новости</h4>
		<a href="#" class="g-cards-list__button g-cards-list__button--desktop g-button g-button--white">Все новости</a>
	</div>
	<div class="g-cards-list__list">
		<a href="#" class="g-card g-cards-list__card">
			<h5>Капитальный ремонт</h5>
			<p class="g-card__subtitle">
				В 2012 году в рамках исполнения Федерального закона № 185 от 21 июля 2007 года «О фонде содействия реформированию
			</p>
			<p class="g-card__date">15.01.2013</p>
		</a>
		<a href="#" class="g-card g-cards-list__card">
			<h5>Общедомовые нужды</h5>
			<p class="g-card__subtitle">
				В связи с острой актуальностью и широким освещением в средствах массовой информации недовольства плательщиков по вопросу начисления...
			</p>
			<p class="g-card__date">14.01.2013</p>
		</a>
		<a href="#" class="g-card g-cards-list__card">
			<h5>О передаче показаний</h5>
			<p class="g-card__subtitle">
				Напоминаем, чем добросовестнее жители дома будут относиться к передаче показаний за потребляемые услуги по индивидуальным приборам…
			</p>
			<p class="g-card__date">13.01.2013</p>
		</a>
	</div>
	<a href="#" class="g-cards-list__button g-cards-list__button--mobile g-button g-button--white">Все новости</a>
</section>