.news{margin-bottom: 48px;}

@media (min-width: $tablet)
{
	.news{margin-bottom: 64px;}
}
@media (min-width: $desktop)
{
	.news
	{
		margin-bottom: 96px;
		.g-card-list__header{align-items: center;}
	}
}
@media (min-width: $widescreen)
{
	.news{margin-bottom: 128px;}
}