.g-card
{
	display: block;
	border: 1px solid #DCDCE6;
	border-radius: 8px;
	padding: 24px;
	padding-right: 15px;
	padding-bottom: 22px;
	h5{color: #222;}
	.g-card__subtitle
	{
		display: -webkit-box;
		margin-bottom: 24px;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}
	.g-card__date
	{
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
	.g-card__icon{margin-right: 16px;}
	&--file
	{
		display: flex;
		align-items: center;
		padding: 16px;
		h5
		{
			font-size: 18px;
			line-height: 24px;
		}
		.g-card__date
		{
			font-size: 12px;
			line-height: 16px;
		}
		.g-card__icon{font-size:0;}
	}
}
@media (min-width: $tablet)
{
	.g-card--file{padding: 23px;}
}