.g-object-card
{
	width: 100%;
	padding-bottom: 16px;
}
.g-object-card__image
{
	border-radius: 8px;
	transition: filter .3s ease;
	margin-bottom: 5px;
	width: 100%;
	aspect-ratio: 1.53 / 1;
	object-fit: cover;
	&:hover { filter: brightness(85%); }

}
.g-object-card span
{
	display: block;
	font-size: 15px;
	line-height: 20px;
	color: #4D4D4D;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}
.g-object-card__type > span{display: inline-block; margin-right: 4px;}
@media (min-width: $tablet) {
	.g-object-card{ padding-bottom: 0; }
	.g-object-card__image
	{
		aspect-ratio: 1.56/1;
		margin-bottom: 8px;
	}
}
@media (min-width: $widescreen)
{
	.g-object-card__image
	{
		aspect-ratio: 1.58/1;
		margin-bottom: 8px;
	}
}