<div class="g-object-card">
	<a href="#">
		<picture>
			<source srcset="img/object-card-1.webp" type="image/webp">
			<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
		</picture>
	</a>
	<h3>Вавилова ул, 67</h3>
	<span>Москва г.</span>
	<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
</div>