<section class="opportunities">
	<div class="opportunities__header">
		<h3>Возможности для жильцов</h3>
		<p>
			Наша компания предоставляет для своих жильцов сайт и личный кабинет с широким спектром услуг
		</p>
	</div>
	<div class="opportunities__banner">
		{% include "assets/svg/logo.svg" %}
		<ul class="g-list">
			<li>
				Обеспечение жильцов актуальной информацией об их доме
			</li>
			<li>
				Передачи показаний счётчиков и оплата ЖКУ через личный кабинет
			</li>
			<li>
				Предоставление коммунальных услуг жителям
			</li>
			<li>
				Возможность оставить через личный кабинет заявку в аварийно-диспетчерскую службу и следить за ходом её выполнения
			</li>
		</ul>
	</div>
</section>