.managed-objects{margin-bottom: 48px;}

@media (min-width: $tablet)
{
	.managed-objects{margin-bottom: 64px;}
}
@media (min-width: $desktop)
{
	.managed-objects{margin-bottom: 112px;}
}
@media (min-width: $widescreen)
{
	.managed-objects{margin-bottom: 96px;}
}