<section class="managed-objects g-cards-list">
	<div class="g-cards-list__header">
		<h4>Объекты в управленнии</h4>
		<a href="#" class="g-cards-list__button g-cards-list__button--desktop g-button g-button--white">Все объекты</a>
	</div>
	<div class="g-cards-list__list">
		<div class="g-object-card g-cards-list__card">
			<a href="#">
				<picture>
					<source srcset="img/object-card-1.webp" type="image/webp">
					<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
				</picture>
			</a>
			<h5>Вавилова ул, 67</h5>
			<span>Москва г.</span>
			<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
		</div>
		<div class="g-object-card g-cards-list__card">
			<a href="#">
				<picture>
					<source srcset="img/object-card-1.webp" type="image/webp">
					<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
				</picture>
			</a>
			<h5>Счастливая ул, 1</h5>
			<span>Ленинградская обл, Гатчинский р-н, Горки д.</span>
			<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
		</div>
		<div class="g-object-card g-cards-list__card">
			<a href="#">
				<picture>
					<source srcset="img/object-card-1.webp" type="image/webp">
					<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
				</picture>
			</a>
			<h5>Западная ул, 1</h5>
			<span>Москва г., Восточный п.</span>
			<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
		</div>
	</div>
	<a href="#" class="g-cards-list__button g-cards-list__button--mobile g-button g-button--white">Все объекты</a>
</section>