<section class="banners">
	<a href="#" class="banners__banner">
		<picture>
			<source srcset="img/house-incide.webp" type="image/webp">
			<img class="banners__image" src="img/house-incide.png" alt="House">
		</picture>
		<div class="banners__title">
			Осуществление общестроительных, инженерных, электромонтажных, специализированных строительных, изоляционных, штукатурных, малярных, санитарно-технических работ.
		</div>
	</a>
	<a href="#" class="banners__banner">
		<picture>
			<source srcset="img/house-incide.webp" type="image/webp">
			<img class="banners__image" src="img/house-incide.png" alt="House">
		</picture>
		<div class="banners__title">
			Контроль качества услуг
		</div>
	</a>
	<a href="#" class="banners__banner">
		<picture>
			<source srcset="img/house-incide.webp" type="image/webp">
			<img class="banners__image" src="img/house-incide.png" alt="House">
		</picture>
		<div class="banners__title">
			Внедрение энергосберегающих технологий
		</div>
	</a>
	<a href="#" class="banners__banner">
		<picture>
			<source srcset="img/house-incide.webp" type="image/webp">
			<img class="banners__image" src="img/house-incide.png" alt="House">
		</picture>
		<div class="banners__title">
			Предоставление качественных коммунальных услуг
		</div>
	</a>
	<a href="#" class="banners__banner">
		<picture>
			<source srcset="img/house-incide.webp" type="image/webp">
			<img class="banners__image" src="img/house-incide.png" alt="House">
		</picture>
		<div class="banners__title">
			Собственная аварийно-ремонтная служба
		</div>
	</a>
</section>