/*  Общая типографика для всех страниц. здесь описываются общие свойства для текстовых блоков  */

body
{
	font-family: $accent-font;
	font-size: 16px;
	line-height: 1.5;
}

ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li
	{
		margin: 0;
		padding: 0;
	}
}

address
{
	font-style: normal;
}
td
{
	font-size: 14px;
	line-height: 18px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}
h1
{
	margin: 0;
	margin-bottom: 10px;
	font-size: 38px;
	line-height: 42px;
	font-weight: 500;
	letter-spacing: .3px;
}
h2
{
	margin-bottom: 32px;
	font-size: 32px;
	font-weight: 600;
	line-height: 38px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}
h3
{
	margin: 0;
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

h4
{
	margin: 0;
	font-size: 20px;
	margin-bottom: 16px;
	font-weight: 500;
	line-height: 28px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;

}

h5
{
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;

}

p
{
	margin: 0;
	color: $mainFontColor;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}

b
{
	font-weight: 700;
}

a,
a:hover,
a:active,
a:visited,
a:focus
{
	outline: 0;
	text-decoration: none;
}
@media (min-width: $tablet)
{
	h1{font-size: 44px; line-height: 48px; }
	h3
	{
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 32px;
	}
	h4
	{
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
	}
	td{font-size: 15px;}
}
@media (min-width: $desktop)
{
	h1
	{
		font-size: 54px;
		line-height: 64px;
	}
}
@media (min-width: $widescreen)
{
	h1{font-size: 64px;}
	h4
	{
		font-size: 32px;
		line-height: 38px;
	}
}