<div class="g-news-card">
	<h5>Капитальный ремонт</h5>
	<p class="g-news-card__subtitle">
		В 2012 году в рамках исполнения Федерального закона № 185 от 21 июля 2007 года «О фонде содействия реформированию…
	</p>
	<p class="g-news-card__date">15.01.2013</p>
</div>