<table class="g-table">
	<tr class="g-table__row">
		<td class="g-table-item">Тип здания</td>
		<td class="g-table-item">МКД</td>
	</tr>
	<tr class="g-table__row">
		<td class="g-table-item">Общая площадь</td>
		<td class="g-table-item">2454.00</td>
	</tr>
	<tr class="g-table__row">
		<td class="g-table-item">Количество этажей</td>
		<td class="g-table-item">10</td>
	</tr>
	<tr class="g-table__row">
		<td class="g-table-item">Количество подъездов</td>
		<td class="g-table-item">1</td>
	</tr>
	<tr class="g-table__row">
		<td class="g-table-item">Год постройки здания</td>
		<td class="g-table-item">2009</td>
	</tr>
</table>