<div class="page-select _page-select">
	<button class="page-select__button" onclick="o2.pageSelect.open()">
		Общая информация
		<div class="page-select__icon">
			{% include "assets/svg/arrow-down.svg" %}
		</div>
	</button>
	<ul class="page-select__list _page-select__list">
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Общая информация</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Общие сведения о МКД</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link page-select__link--active" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Помещения здания</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Тарифы</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Сведения о коммунальных услугах</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>
		<li class="page-select__item _page-select-item">
			<button class="page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Сведения о поставленных ресурсах</button>
			<ul class="page-select__sublist _page-sublist">
				<li>
					<a class="page-select__link" href="#">
						Технические характеристики
					</a>
				</li>
				<li><a class="page-select__link" href="#">Лица, осуществляющие управление</a></li>
				<li><a class="page-select__link" href="#">Лица, оказывающие услуги</a></li>
				<li><a class="page-select__link" href="#">РСО</a></li>
			</ul>
		</li>

	</ul>
	<div class="page-select__background"></div>
</div>
