.news.page{margin: 0;}
.news__title{margin-bottom: 31px;}
.news__post
{
	margin-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	.g-card__date
	{
		font-size: 12px;
		line-height: 16px;

	}
	.g-card__subtitle
	{
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 16px;
	}
	h5
	{
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 3px;
	}
}
.news__list{margin-bottom: 16px;}
.news__button
{
	display: block;
	margin: 0 auto;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
}
@media (min-width: $tablet) {
	.news__title{margin-bottom: 32px;}
	.news__post
	{
		margin-bottom: 17px;
		padding-left: 24px;
		padding-right: 24px;
		.g-card__date
		{
			font-size: 14px;
			line-height: 18px;
		}
		.g-card__subtitle
		{
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 16px;
		}
		h5
		{
			font-size: 20px;
			line-height: 28px;
		}
	}
	.news__button
	{
		margin-bottom: 0;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 34px;
		font-size: 16px;
		margin-top: 33px;
	}
}
@media (min-width: $desktop)
{
	.news__title{display: none;}
	.news__button
	{
		margin-bottom: 0;
		width: unset;
		font-size: 12px;
		padding: 12px 38px 12px 38px;
		margin-top: unset;
	}
	.news__post{padding-left: 21px;}
}