
.g-form .g-input{margin-bottom: 16px;}
.g-form__link
{
	display: inline-block;
	color: #969BA5;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
	font-size: 14px;
	line-height: 18px;
	&:hover{text-decoration: none;}
}
.g-form__button
{
	font-size: 16px;
	display: inline-block;
	margin-bottom: 32px;
	border: none;
	color: #969BA5;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	&:hover{text-decoration: underline;}
}

.g-form__hint
{
	text-align: center;
	p
	{
		color:#CCCCCC;
		font-size: 11px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}
}
.g-form__submit
{
	display: block;
	width: 100%;
	margin-bottom: 16px;
	max-height: unset;
	height: 56px;
	font-size: 16px;
}
.g-form__row
{
	display: flex;
	flex-direction: column;
}
@media (min-width: $mobile) {
	.g-form__row
	{
		display: flex;
		gap: 16px;
		flex-direction: row;
	}
}
@media (min-width: $tablet) {
	.g-form__link
	{
		font-size: 16px;
		line-height: 18px;
	}
}