<form class="g-form">
	<label class="g-input">
		<input class="g-input__input" type="text" onfocus="o2.gInput.onChange(this)" onblur="o2.gInput.onChange(this)">
		<span class="g-input__placeholder">Эл. почта</span>
		<div class="g-input__sub">Name already exist</div>
	</label>
	<label class="g-input">
		<input class="g-input__input" type="text" onfocus="o2.gInput.onChange(this)" onblur="o2.gInput.onChange(this)">
		<span class="g-input__placeholder">Пароль</span>
		<div class="g-input__sub">Name already exist</div>
	</label>
	<button href="#" class="g-form__button" type="button">
		Восстановление доступа
	</button>
	<a href="#" class="g-form__link">Восстановление пароля</a>
	<button class="g-form__submit g-button g-button--black">Войти</button>
	<div class="g-form__registration">
		<a href="#" class="g-form__link g-form__link--center">Зарегистрироваться</a>
	</div>
</form>