<ul class="g-list">
	<li>
		Оплачивайте квитанции и страховые взносы без комиссии
	</li>
	<li>
		Передавайте показания счётчиков в пару кликов не выходя из дома
	</li>
	<li>
		Смотрите историю начислений и платежей в электронном виде
	</li>
</ul>