.enter-banner
{
	border-radius: 8px;
	margin-bottom: 48px;
	h4{margin-bottom: 32px;}
}
.enter-banner__content
{
	background: #F8F9FB;
	padding: 32px 16px;
	border-radius: 8px;
	max-width: 576px;
	margin:0 auto;
}
.enter-banner__list
{
	position: relative;
	margin-bottom: 32px;
}
.enter-banner__form{display: none;}
@media (min-width: $tablet)
{
	.enter-banner { margin-bottom: 64px; }
	.enter-banner__content{padding: 64px 24px;}
}
@media (min-width: $desktop) {
	.enter-banner__list{margin-bottom: 0;}
	.enter-banner h4
	{
		font-size: 32px;
		line-height: 38px;
	}
	.enter-banner
	{
		display: flex;
		margin-bottom: 87px;
	}
	.enter-banner__content
	{
		margin: 0;
		padding: 118px 80px 118px 56px;
		border-radius: 8px 0 0 8px;
		max-width: unset;
		flex-basis: 57%;
		.enter-banner__button{display: none;}
	}
	.enter-banner__form
	{
		display: block;
		padding: 124px 32px 118px 80px;
		border-radius: 0 8px 8px 0 ;
		border: 1px solid #F2F4F7;
		flex-basis: 43%;
		border-left: none;
		.g-input:last-of-type{margin-bottom: 24px;}
		.g-form__button{margin-bottom: 24px;}
		.g-input__input
		{
			height: 48px;
			padding-top: 22px;
			padding-bottom: 22px;
		}
		.g-input__placeholder{top: 16px;}
	}
	.enter-banner__button{margin-bottom: 16px}
	.enter-banner__link
	{
		font-size: 14px;
		text-decoration: none;
		&:hover{text-decoration: underline;}
	}
}
@media (min-width: $widescreen) {
	.enter-banner{margin-bottom: 97px;}
	.enter-banner__content{padding: 118px 127px 118px 98px;  }
	.enter-banner__form{padding: 124px 109px 117px 86px;}
}