<label class="g-input">
	<input class="g-input__input" type="text" onfocus="o2.gInput.onChange(this)" onblur="o2.gInput.onChange(this)">
	<span class="g-input__placeholder">Эл.почта</span>
	<div class="g-input__sub">Name already exist</div>
</label>


<label class="g-input error">
	<input class="g-input__input" type="text" onfocus="o2.gInput.onChange(this)" onblur="o2.gInput.onChange(this)">
	<span class="g-input__placeholder">Эл.почта</span>
	<div class="g-input__sub">Name already exist</div>
</label>