{% extends "layouts/about-us-layout.twig" %}

{% block page %}
	<div class="about-us page">
		<h4>Информация о компании</h4>
		<p class="about-us__paragraph about-us__paragraph--last">
			УК «Управление паркингами» оказывает услуги по управлению
			и обслуживанию нежилой и коммерческой недвижимости с 2018 года. Главной целью нашей компании является профессиональное предоставление качественных коммунальных услуг собственникам.
		</p>
		<h4>Контроль качества</h4>
		<p class="about-us__paragraph">
			Более 30 высококвалифицированных специалистов УК «Управление паркингами» ежедневно стараются обеспечить максимально комфортное проживание для граждан.
		</p>
		<p class="about-us__paragraph about-us__paragraph--last">
			В целях снижения количества претензий, жалоб со стороны населения
			и повышения качества оказываемых услуг, была создана специальная служба
			по контролю качества услуг.
		</p>
		<h4>
			Проводимые мероприятиия
		</h4>
		<p class="about-us__paragraph">
			Основными мероприятиями, проводимыми нашей компанией, являются: осуществление общестроительных, инженерных, электромонтажных, специализированных строительных, изоляционных, штукатурных, малярных, санитарно-технических работ.
		</p>
		<p class="about-us__paragraph">
			УК «Управление паркингами» активно внедряет энергосберегающие технологии, которые позволяют проводить измерения и сбор информации удаленно. Больше половины домов оснащены приборами учета, оборудованными телеметрией.
		</p>
		<p class="about-us__paragraph">
			Наша управляющая компания обладает обширной материально-технической базой, имеет личную аварийно-ремонтную службу, в наличии склады необходимых материалов и запасных частей для предотвращения любой аварийной ситуации.
		</p>
		<p class="about-us__paragraph about-us__paragraph--last">
			Политика УК «Управление паркингами» нацелена на чёткое планирование своей деятельности. Успешная деятельность компании показала жизнеспособность и эффективность частного содержания паркингов.
		</p>
	</div>
{% endblock %}
