{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container page">
		<div class="contacts">
			<h3>Контакты</h3>
			<div class="contacts__contact">
				<div class="contacts__subtitle">Диспетчерская</div>
				<ul class="contacts__list">
					<li>
						<a class="contacts__link" href="tel:74957772543">+7 (495) 777-25-43</a>
						<div class="contacts__time">(круглосуточно)</div>
					</li>
					<li>
						<a class="contacts__link" href="tel:78362494689">+7 (836) 249-46-89</a>
					</li>
				</ul>
			</div>
			<div class="contacts__contact">
				<div class="contacts__subtitle">Главный бухгалтер</div>
				<ul class="contacts__list">
					<li>
						<a class="contacts__link" href="tel:78362547826">+7 (836) 254-78-26(2)</a>
						<div class="contacts__time">(с 10:00 до 18:00)</div>
					</li>
					<li>
						<a class="contacts__link contacts__link--mail" href="mailto:glavbuh@mail.ru">glavbuh@mail.ru</a>
					</li>
				</ul>
			</div>
			<div class="contacts__contact">
				<div class="contacts__subtitle">Председатель Управляющей Компании</div>
				<ul class="contacts__list">
					<li>
						<a class="contacts__link" href="tel:78362547826">+7 (836) 254-78-26</a>
						<div class="contacts__time">(с 10:00 до 14:00)</div>
					</li>
					<li>
						<a class="contacts__link" href="tel:79379122121">+7 (937) 912-21-21</a>
					</li>
					<li>
						<a class="contacts__link contacts__link--mail" href="mailto:predsedatel@mail.ru">predsedatel@mail.ru</a>
					</li>
				</ul>
			</div>
			<div class="contacts__contact">
				<div class="contacts__subtitle">Паспортный стол</div>
				<ul class="contacts__list">
					<li>
						<a class="contacts__link" href="tel:78362547826">+7 (836) 254-78-26(3)</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
