{% extends "layouts/about-us-layout.twig" %}

{% block page %}
	<div class="docs-detail">
		{% include "blocks/bread-crumb/bread-crumb.twig" %}
		<h4>Постановление правительства Российской Федерации от 23 сентября 2010 г. N 731</h4>
		<p>
			Стандарт раскрытия информации организациями, осуществляющими деятельность в сфере управления многоквартирными домами.
			Документ устанавливает требования
			к составу информации, подлежащей раскрытию организациями, осуществляющими деятельность в сфере управления многоквартирными домами,
			а также к порядку, способам и срокам
			ее раскрытия.
		</p>
		<a class="docs-detail__link"href="#">Постановление правительства</a>
	</div>
{% endblock %}
