{% extends "layouts/about-us-layout.twig" %}

{% block page %}
	<div class="docs">
		<h3>Общая информация об управляющей организации</h3>
		<div class="docs__list">
			<a href="#" class="g-card">
				<h5>
					Постановление правительства Российской Федерации от 23 сентября 2010 г. N 731
				</h5>
				<p class="g-card__subtitle">
					Об утверждении стандарта раскрытия информации организациями, осуществляющими деятельность в сфере управления многоквартирными домами
				</p>
				<p class="g-card__date">14.10.2010</p>
			</a>
		</div>
	</div>
{% endblock %}
