{% extends "layouts/about-us-layout.twig" %}

{% block page %}
	<div class="files">
		<h4 class="files__title">Показатели финансово-хозяйственной деятельности</h4>
		<div class="files__list">
			<a href="#" class="g-card g-card--file">
				<div class="g-card__icon">
					{% include "assets/svg/file.svg" %}
				</div>
				<div class="g-card__section">
					<h5>Финансовый отчет за 2011 год</h5>
					<p class="g-card__date">15.01.2012</p>
				</div>
			</a>
			<a href="#" class="g-card g-card--file">
				<div class="g-card__icon">
					{% include "assets/svg/file.svg" %}
				</div>
				<div class="g-card__section">
					<h5>Отчёт о прибылях и убытках за 2011 год</h5>
					<p class="g-card__date">15.01.2012</p>
				</div>
			</a>
			<a href="#" class="g-card g-card--file">
				<div class="g-card__icon">
					{% include "assets/svg/file.svg" %}
				</div>
				<div class="g-card__section">
					<h5>Бухгалтерский баланс за 2011 год</h5>
					<p class="g-card__date">15.01.2012</p>
				</div>
			</a>
		</div>
	</div>
{% endblock %}
