{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container">
		<h1>
			УК Управление паркингами оказывает услуги по обслуживанию жилой и коммерческой недвижимости
		</h1>
		<h2>Объекты в управлении</h2>
		<h3>Капитальный ремонт</h3>
		<p>
			Мы делаем проработанный проект, который позволяет получить удобный
			и красивый интерьер, подходящий лично вам
			Наша смета включает абсолютно всё,
			что понадобится для ремонта, а не только работы и часть материалов. Стоимост
			ёи срок исполнения работ гарантированы договором
			Мы берём все заботы о ремонте на себя, вам не нужно будет ездить на объект
			и заниматься закупкой и проверкой материалов. А если вы захотите проверить всё лично, мы всегда будем вам рады
			Мы используем защищённую сделку. Пока вы не приняли этап работ, мы не получим деньги.
			Это гарантирует вам, что все работы будут выполнены качественно
			Мы используем современные технологии
			в отделке. Например, механизированные штукатурку и стяжку. Это сокращает сроки ремонта и экономит бюджет
		</p>
	</div>
{% endblock %}
