{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container page">
		{% include "/blocks/title/title.twig" %}
		{% include "/blocks/managed-objects/managed-objects.twig" %}
		{% include "/blocks/enter-banner/enter-banner.twig" %}
		{% include "/blocks/news/news.twig" %}
		{% include "/blocks/answers/answers.twig" %}
	</div>
{% endblock %}
