{% extends "layouts/information-layout.twig" %}
{% block page %}
	<div class="management-persone page">
		<h3>Вавилова ул, 67</h3>
		<h4>Лица, осуществляющие управление</h4>
		<table class="g-table">
			<tr class="g-table__row">
				<td class="g-table__item">Название</td>
				<td class="g-table__item">ООО УК «Престиж»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ОГРН</td>
				<td class="g-table__item">1037801016549</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Дата присвоения ОГРН</td>
				<td class="g-table__item">01.01.2013</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">КПП</td>
				<td class="g-table__item">772101001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ИНН</td>
				<td class="g-table__item">7721122600</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Телефон, факс</td>
				<td class="g-table__item">936-16-36</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Адрес сайта</td>
				<td class="g-table__item">demo-jkh.otr-soft.ru</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Электронная почта</td>
				<td class="g-table__item">otr@rarus.ru</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Фактический адрес</td>
				<td class="g-table__item">113205, Москва г, Вавилова , дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Юридический адрес</td>
				<td class="g-table__item">113205, Москва г, Вавилова , дом № 65</td>
			</tr>
		</table>
	</div>
{% endblock %}
