{% extends "layouts/information-layout.twig" %}
{% block page %}
	<div class="management-persone">
		<h3>Вавилова ул, 67</h3>
		<h4>Лица, осуществляющие управление</h4>
		<table class="g-table">
			<tr class="g-table__row">
				<td class="g-table-item">Название</td>
				<td class="g-table-item">ООО УК «Престиж»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ОГРН</td>
				<td class="g-table-item">1037801016549</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата присвоения ОГРН</td>
				<td class="g-table-item">01.01.2013</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">772101001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">7721122600</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон, факс</td>
				<td class="g-table-item">936-16-36</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Адрес сайта</td>
				<td class="g-table-item">demo-jkh.otr-soft.ru</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Электронная почта</td>
				<td class="g-table-item">otr@rarus.ru</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">113205, Москва г, Вавилова , дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">113205, Москва г, Вавилова , дом № 65</td>
			</tr>
		</table>
	</div>
{% endblock %}
