{% extends "layouts/layout.twig" %}

{% block page %}
	<main class="object">
		<div class="container">
			<div class="object__header">
				<h3 class="object__title">Объекты в управлении</h3>

				<div class="g-select _select">
					<input type="hidden" class="_selected-value" />
					<div class="g-select__selected" onclick="o2.gSelect.toggle(this)">
						<div class="g-select__selected-name _selected-text">Сортировать</div>
						<div class="g-select__arrow">
							{% include "/assets/svg/arrow-down.svg" %}
						</div>
					</div>
					<div class="g-select__error">Error: обязательное поле</div>
					<div class="g-select__list _options">
						<ul class="g-select__items">
							<li data-value="code-Argentina" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">по типам здания</li>
							<li data-value="code-New Zealand" class="g-select__item _option" onclick="o2.gSelect.selecttItem(this)">по адресам</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="object__search">
				{% include "blocks/search/search.twig" %}
			</div>
			<div class="object__list">
				{% for i in 1..3 %}
					<div class="g-object-card g-cards-list__card">
						<a href="#">
							<picture>
								<source srcset="img/object-card-1.webp" type="image/webp">
								<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
							</picture>
						</a>
						<h5>Вавилова ул, 67</h5>
						<span>Москва г.</span>
						<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
					</div>
					<div class="g-object-card g-cards-list__card">
						<a href="#">
							<picture>
								<source srcset="img/object-card-1.webp" type="image/webp">
								<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
							</picture>
						</a>
						<h5>Счастливая ул, 1</h5>
						<span>Ленинградская обл, Гатчинский р-н, Горки д.</span>
						<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
					</div>
					<div class="g-object-card g-cards-list__card">
						<a href="#">
							<picture>
								<source srcset="img/object-card-1.webp" type="image/webp">
								<img class="g-object-card__image" src="img/object-card-1.png" alt="House">
							</picture>
						</a>
						<h5>Вавилова ул, 67</h5>
						<span>Москва г.</span>
						<span class="g-object-card__type"><span>Тип здания:</span> МКД</span>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
