{% extends "layouts/information-layout.twig" %}
{% block page %}
	<div class="page">
		<h3>Вавилова ул, 67</h3>
		<h4>РСО</h4>
		<table class="g-table">
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table__item">Тепловая энергия</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table__item">Наименование</td>
				<td class="g-table__item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Вид работ</td>
				<td class="g-table__item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">КПП</td>
				<td class="g-table__item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ИНН</td>
				<td class="g-table__item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Телефон</td>
				<td class="g-table__item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Фактический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Юридический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Дата начала обслуживания</td>
				<td class="g-table__item">20.07.2019</td>
			</tr>
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table__item">Электроснабжение</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table__item">Наименование</td>
				<td class="g-table__item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Вид работ</td>
				<td class="g-table__item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">КПП</td>
				<td class="g-table__item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ИНН</td>
				<td class="g-table__item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Телефон</td>
				<td class="g-table__item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Фактический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Юридический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Дата начала обслуживания</td>
				<td class="g-table__item">20.07.2019</td>
			</tr>
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table__item">Холодная вода</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table__item">Наименование</td>
				<td class="g-table__item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Вид работ</td>
				<td class="g-table__item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">КПП</td>
				<td class="g-table__item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ИНН</td>
				<td class="g-table__item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Телефон</td>
				<td class="g-table__item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Фактический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Юридический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Дата начала обслуживания</td>
				<td class="g-table__item">20.07.2019</td>
			</tr>
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table__item">Горячая вода</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table__item">Наименование</td>
				<td class="g-table__item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Вид работ</td>
				<td class="g-table__item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">КПП</td>
				<td class="g-table__item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">ИНН</td>
				<td class="g-table__item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Телефон</td>
				<td class="g-table__item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Фактический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Юридический адрес</td>
				<td class="g-table__item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table__item">Дата начала обслуживания</td>
				<td class="g-table__item">20.07.2019</td>
			</tr>
		</table>
	</div>
{% endblock %}
