{% extends "layouts/information-layout.twig" %}
{% block page %}
	<div class="services-persons">
		<h3>Вавилова ул, 67</h3>
		<h4>Лица, оказывающие услуги</h4>
		<table class="g-table">
			<tr class="g-table__row">
				<td class="g-table-item">Наименование</td>
				<td class="g-table-item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Вид работ</td>
				<td class="g-table-item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон</td>
				<td class="g-table-item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата начала обслуживания</td>
				<td class="g-table-item">20.07.2019</td>
			</tr>
		</table>
		<h4>Лица, оказывающие коммунальные усуги</h4>
		<table class="g-table">
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table-item">Отопление</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table-item">Наименование</td>
				<td class="g-table-item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Вид работ</td>
				<td class="g-table-item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон</td>
				<td class="g-table-item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата начала обслуживания</td>
				<td class="g-table-item">20.07.2019</td>
			</tr>
		</table>
		<table class="g-table">
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table-item">Электроснабжение</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table-item">Наименование</td>
				<td class="g-table-item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Вид работ</td>
				<td class="g-table-item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон</td>
				<td class="g-table-item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата начала обслуживания</td>
				<td class="g-table-item">20.07.2019</td>
			</tr>
		</table>
		<table class="g-table">
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table-item">Холодная вода</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table-item">Наименование</td>
				<td class="g-table-item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Вид работ</td>
				<td class="g-table-item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон</td>
				<td class="g-table-item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата начала обслуживания</td>
				<td class="g-table-item">20.07.2019</td>
			</tr>
		</table>
		<table class="g-table">
			<thead class="g-table__title">
				<tr class="g-table__row">
					<td class="g-table-item">Горячая вода</td>
				</tr>
			</thead>
			<tr class="g-table__row">
				<td class="g-table-item">Наименование</td>
				<td class="g-table-item">ООО «Чистый город»</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Вид работ</td>
				<td class="g-table-item">Вывоз мусора</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">КПП</td>
				<td class="g-table-item">456201001</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">ИНН</td>
				<td class="g-table-item">4562184545</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Телефон</td>
				<td class="g-table-item">+7 (925) 003-34-29</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Фактический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Юридический адрес</td>
				<td class="g-table-item">110205, Москва г, Чехова ул, Дом № 65</td>
			</tr>
			<tr class="g-table__row">
				<td class="g-table-item">Дата начала обслуживания</td>
				<td class="g-table-item">20.07.2019</td>
			</tr>
		</table>
		
	</div>
{% endblock %}
