{% extends "layouts/layout.twig" %}

{% block page %}
	<div class="container page">
		<div class="services">
			{% include "/blocks/services-title/services-title.twig" %}
			{% include "/blocks/banners/banners.twig" %}
			{% include "/blocks/opportunities/opportunities.twig" %}
			{% include "/blocks/answers/answers.twig" %}
		</div>
	</div>
{% endblock %}
