{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <!--[if IE 6]>		<html id="section-reco_main" class="nojs ie6 ieb7 ieb8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 7]>		<html id="section-reco_main" class="nojs iea6 ie7 ieb8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 8]>		<html id="section-reco_main" class="nojs iea6 iea7 ie8 ieb9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<!--[if IE 9]>		<html id="section-reco_main" class="nojs iea6 iea7 iea8 ie9 ieb10 split1 nosplit5 platform-PC platform-notouch"><![endif]-->
	<meta name="viewport" content="width=device-width">
	<meta name="MobileOptimized" content="320"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta charset="utf-8">
	<meta name="viewport min-width=320px" content="min-width=320, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="./style.css">
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<title>index</title>
</head>
<body class="about-us-layout">
	{% include "blocks/header/header.twig" %}
	<div class="about-us-layout__page-select about-us-layout__page-select--mobile">
		<div class="g-page-select _g-page-select">
			<button class="g-page-select__button" onclick="o2.pageSelect.open()">
				Общая информация
				<div class="g-page-select__icon">
					{% include "assets/svg/arrow-down.svg" %}
				</div>
			</button>
			<ul class="g-page-select__list _g-page-select__list">
				<li class="g-page-select__item _g-page-select-item">
					<button class="g-page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Об УК «Управление паркингами» </button>
					<ul class="g-page-select__sublist _page-sublist">
						<li>
							<a class="g-page-select__link" href="#">
								Общая информация
							</a>
						</li>
						<li><a class="g-page-select__link" href="#">Финансово-хозяйственная деятельность</a></li>
						<li><a class="g-page-select__link" href="#">Выполняемые работы</a></li>
						<li><a class="g-page-select__link" href="#">Порядок и условия оказания услуг</a></li>
						<li><a class="g-page-select__link" href="#">Стоимость работ</a></li>
						<li><a class="g-page-select__link" href="#">Тарифы на коммунальные ресурсы</a></li>
					</ul>
				</li>
				<li class="g-page-select__item _g-page-select-item">
					<button class="g-page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Документы</button>
					<ul class="g-page-select__sublist _page-sublist">
						<li>
							<a class="g-page-select__link" href="#">
								Общая информация
							</a>
						</li>
						<li><a class="g-page-select__link" href="#">Финансово-хозяйственная деятельность</a></li>
						<li><a class="g-page-select__link" href="#">Выполняемые работы</a></li>
						<li><a class="g-page-select__link" href="#">Порядок и условия оказания услуг</a></li>
						<li><a class="g-page-select__link" href="#">Стоимость работ</a></li>
						<li><a class="g-page-select__link" href="#">Тарифы на коммунальные ресурсы</a></li>
					</ul>
				</li>
			</ul>
			<div class="g-page-select__background"></div>
		</div>
	</div>
	<main class="container">
		<div class="about-us-layout__page-select about-us-layout__page-select--desktop">
			<div class="g-page-select _g-page-select">
				<ul class="g-page-select__list _g-page-select__list">
					<li class="g-page-select__item _g-page-select-item">
						<a class="g-page-select__link" href="#">Об УК «Управление паркингами» </a>
					</li>
					<li class="g-page-select__item _g-page-select-item">
						<button class="g-page-select__item-title" onclick="o2.pageSelect.showOrHidePageSublist(this)">Документы</button>
						<ul class="g-page-select__sublist _page-sublist">
							<li>
								<a class="g-page-select__link" href="#">
									Общая информация
								</a>
							</li>
							<li><a class="g-page-select__link" href="#">Финансово-хозяйственная деятельность</a></li>
							<li><a class="g-page-select__link" href="#">Выполняемые работы</a></li>
							<li><a class="g-page-select__link" href="#">Порядок и условия оказания услуг</a></li>
							<li><a class="g-page-select__link" href="#">Стоимость работ</a></li>
							<li><a class="g-page-select__link" href="#">Тарифы на коммунальные ресурсы</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div>
			{% block page %}
			{% endblock %}
		</div>
	</main>
	{% include "blocks/footer/footer.twig" %}
	<script type="text/javascript" src="./main.min.js" defer="" async=""></script>
</body>
</html>