.g-spoiler{ min-height: 44px; }

.g-spoiler__item
{
	border-bottom: 1px solid #DCDCE6;
	padding: 32px 0;
}

.g-spoiler__title
{
	position: relative;
	padding-right: 50px;
	transition: color .3s ease;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	&:hover{ color: #808080; }
	&::after
	{
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		background: url('/svg/plus.svg') bottom center no-repeat;
		background-size: contain;
		right: 7px;
		top: 6px;
		transition: transform .3s ease;
	}
}

.g-spoiler__title--active
{
	color: #808080;
	&::after
	{
		transform: rotate(45deg);
		width: 16px;
		height: 16px;
	}
}

.g-spoiler__list
{
	display: none;
	padding-top: 8px;
	max-width: 816px;
}
@media (min-width: $tablet)
{
	.g-spoiler{border-top: 1px solid #DCDCE6;}
	.g-spoiler__item{padding: 48px 0;}
	.g-spoiler__title
	{
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0px;
		&::after
		{
			right: 5px;
			top: 6px;
			width: 20px;
			height: 20px;
		}
	}
	.g-spoiler__list{padding-top: 48px;}
}
@media (min-width: $desktop)
{
	.g-spoiler__title::after{right: 2px; top:4px;}
}