<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__section">
				<a href="/" class="header__logo" >
					{% include "/assets/svg/logo.svg" %}
				</a>

				<nav class="header__nav header__nav--desktop">
					<ul>
						<li class="header__link">
							<a href="#">Новости</a>
						</li>
						<li class="header__link">
							<a href="#">Объекты</a>
						</li>
						<li class="header__link">
							<a href="#">О компании</a>
						</li>
						<li class="header__link">
							<a href="#">Услуги</a>
						</li>
						<li class="header__link">
							<a href="#">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__section">
				<a class="header__number" href="tel:84951379621">
					8 (495) 137-96-21
				</a>
				<div class="header__user" onclick="o2.gPopup.open('_login-popup')">
					<button href="#" class="header__user-icon">{% include "/assets/svg/persone.svg" %}</button>
					<button class="header__button g-button g-button--white g-button--small">Войти</button>
				</div>
				<button class="header__search">
					{% include "/assets/svg/loupe.svg" %}
				</button>
			</div>
		</div>
	</div>
	<nav class="header__nav header__nav--mobile">
		<div class="container">
			<ul>
				<li class="header__link">
					<a href="#">Новости</a>
				</li>
				<li class="header__link">
					<a href="#">Объекты</a>
				</li>
				<li class="header__link">
					<a href="#">О компании</a>
				</li>
				<li class="header__link">
					<a href="#">Услуги</a>
				</li>
				<li class="header__link">
					<a href="#">Контакты</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
